/*********************
CALENDAR LABEL STYLING
*********************/
.date__field {
  width: 200px; }

input[type="date"] {
  position: relative; }

input[type="date"]:after {
  font-family: "FontAwesome";
  content: "\f073";
  color: #545CA5; }

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent; }

input[type="date"]::-webkit-inner-spin-button {
  z-index: 1; }

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none; }
