/*********************
VARIABLES
*********************/
/*********************
REM TO PX CONVERSTION
*********************/
/*********************
BREAKPOINTS
*********************/
.btn--primary {
  background: #535CA6;
  font-weight: 500;
  font-size: 1em;
  border: none;
  min-width: 34px;
  color: #fff;
  margin-right: 2px; }
  .btn--primary.btn--primary:hover {
    color: white; }

.component {
  background: #EEEEEE;
  height: 100vh;
  min-height: 100vh; }

.component__block {
  margin: auto;
  margin-top: 30px;
  height: 669px;
  width: 830px;
  background-color: #FFFFFF; }

.component__title {
  color: #1C1D33;
  font-size: 1.4375em;
  font-weight: 500;
  padding: 21px 24px; }

hr {
  background-color: #EEE;
  margin: 0; }

.form {
  width: 500px;
  margin: auto;
  padding-top: 15px; }

/*********************
COMPONENT MEDIA QUERIES
*********************/
@media (max-width: 70em) {
  .component__block {
    width: auto; } }

@media (min-width: 50em) {
  .dropdown {
    display: none; }
  .sidebar__dropdown {
    display: none; } }

@media (max-width: 50em) {
  .col-sm-10 {
    flex: 100%;
    max-width: 100%; }
  .form {
    width: auto; }
  .component {
    padding: 0; }
  .component__block {
    margin-top: 0px;
    padding: 15px; } }
