@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
   
    <div class="row">
        <div class="col-md-2 sidebar">
            <ul class="sidebar__menu">
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">General Settings</a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">Currency Management</a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">Change Tracking</a>
                </li>
            </ul>
        </div>


        <div class="col-sm-10 section">
            <!-- hidden in desktop -->
            <div class="sidebar__dropdown">
                <select class="form-control">
                    <option selected>General Settings</option>
                    <option>Currency Management</option>
                    <option>Change Tracking</option>
                </select>
            </div>
            <!-- end of hidden element -->

            <div class="component">
                <div class="conversion">
                    <div class="conversion__header">
                        <span class="conversion__header--title">Currency Management</span> <button class="btn btn--primary" type="button">Add Currency</button>
                    </div>

                    <ul class="conversion__list">
                        <li class="conversion__item">
                            USD - US Dollar <a href="#" class="btn--remove">Remove</a>
                        </li>

                        <li class="conversion__item">
                            AUD - Australian Dollar <a href="#" class="btn--remove">Remove</a>
                        </li>

                        <li class="conversion__item">
                            CAD - Canadian Dollar <a href="#" class="btn--remove">Remove</a>
                        </li>

                        <li class="conversion__item">
                            EUR - Euros <a href="#" class="btn--remove">Remove</a>
                        </li>

                        <li class="conversion__item">
                            GBP - Pounds Sterling <a href="#" class="btn--remove">Remove</a>
                        </li>

                        <li class="conversion__item">
                            CNY - Yuan <a href="#" class="btn--remove">Remove</a>
                        </li>
                    </ul>
                </div>
                <span class="conversion__info">Each conversion rate updates on month</span>
            </div>
        </div>
    </div>