/*********************
VARIABLES
*********************/
/*********************
REM TO PX CONVERSTION
*********************/
.btn--primary {
  background: #545CA5;
  font-weight: 500;
  font-size: 0.875em;
  border: none;
  min-width: 75px;
  color: #fff; }
  .btn--primary.btn--primary:hover {
    background: #545CA5;
    color: white; }

.btn--remove {
  font-size: 0.875em;
  color: #C65458 !important; }

/*********************
BREAKPOINTS
*********************/
/*********************
REM TO PX CONVERSTION
*********************/
.sidebar {
  background-color: #FAFAFA; }

.sidebar__menu {
  padding: 35px 10px; }

.sidebar__item {
  padding-bottom: 2rem;
  list-style-type: none; }

.sidebar__dropdown {
  display: none; }

.sidebar__link {
  color: #000; }
  .sidebar__link.sidebar__link:hover {
    color: #000; }

@media (max-width: 50em) {
  .sidebar {
    display: none; }
  .sidebar__dropdown {
    display: block;
    padding: 15px;
    width: 100%; } }
